/* Custom Navbar Color */
.navbar-custom {
    background-color: #F4AAB9; 
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: #FFF8F4;

}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-nav .nav-link:hover {
    color: #4E4E4E ; 
}